<div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <!-- HP Column -->
      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creator</th>
        <td mat-cell *matCellDef="let row">{{row.creator.username}}</td>
      </ng-container>
      <!-- CR Column -->
      <ng-container matColumnDef="party">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Party</th>
        <td mat-cell *matCellDef="let row">{{row.party.name}}</td>
      </ng-container>
      <!-- Movement Column -->
      <ng-container matColumnDef="encounters">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Encounters</th>
        <td mat-cell *matCellDef="let row" >
        <span *ngFor="let encounter of row.encounters">{{encounter.name}}  </span>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getCampaign(row.id)"></tr>
    </table>
      
  
  </div>
  <a mat-raised-button routerLink="/campaigncreate">Create</a>
  