<div class="form-group">

    <form (ngSubmit)="OnSubmit()">
        <mat-form-field appearance="fill" MatFormFieldControl>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name"  name="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Campaign</mat-label>
            <input matInput [(ngModel)]="campaign" name="campaign" >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Users</mat-label>
            <input matInput [(ngModel)]="users" name="users" >
        </mat-form-field>        
        <button mat-button>Submit</button>

    </form>


</div>
