<div class="form-group">

    <form (ngSubmit)="OnSubmit()">
        <mat-form-field appearance="fill" MatFormFieldControl>
            <mat-label>Encounter</mat-label>
            <mat-select [(ngModel)]="encounter"  name="encounter">
                <mat-option *ngFor="let encounter of encounters" [value]="encounter">
                    {{encounter.name}}
                </mat-option>
                </mat-select>
        </mat-form-field>
     <!--   <mat-form-field appearance="fill">
            <mat-label>Campaign</mat-label>
            <input matInput [(ngModel)]="campaign" name="campaign" >
        </mat-form-field>-->
           
        <button mat-button>Submit</button>

    </form>
     

</div>
